#local variables and environment
.env
.venv

# python cache and bytecode
__pycache__/
**/__pycache__/
**/__pycache__2/
*.py[cod]

# local faiss index files
faiss_index/

# local file to test
test.py

# .DS_Store
.DS_Store